forbidden-quickmarks
.doom.d
doom
Code
Code - OSS
GIMP
discord
chromium
Google
Jaspersoft\ Studio/
rclone
BraveSoftware

.config/balenaEtcher/

.config/cherrytree/

.config/GitKraken/

.config/spotify/

.config/obsidian/

.config/ventoy/

.config/jgit/

.config/gtk-2.0/

.config/go/

.config/gopls/

.config/JetBrains/

.config/pulse/
.config/kritadisplayrc
.config/kritarc
.config/mimeapps.list
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.config/nemo
.config/github-copilot
.config/dconf
.config/dlv
.config/flutter
