forbidden-quickmarks
.doom.d
doom
Code
Code - OSS
GIMP
discord
chromium
Google
Jaspersoft\ Studio/
rclone
BraveSoftware

.config/balenaEtcher/

.config/cherrytree/

.config/GitKraken/

.config/spotify/

.config/obsidian/

.config/ventoy/

.config/jgit/

.config/gtk-2.0/

.config/go/

.config/gopls/

.config/JetBrains/

.config/pulse/
.config/kritadisplayrc
.config/kritarc
.config/mimeapps.list
.config/pavucontrol.ini
.config/user-dirs.dirs
.config/user-dirs.locale
.config/nemo
.config/github-copilot
.config/dconf
.config/dlv
.config/flutter
.config/WebCord
curriculum/icaro-en.aux
curriculum/icaro-en.bcf
curriculum/icaro-en.log
curriculum/icaro-en.out
curriculum/icaro-en.run.xml
curriculum/icaro-en.pdf
.config/ardour8
curriculum/icaro-pt.aux
curriculum/icaro-pt.log
curriculum/icaro-pt.out
curriculum/icaro-pt.pdf
curriculum/icaro-pt.run.xml
curriculum/icaro-pt.bcf
.config/btop
.config/google-chrome
.config/unity3d/Weather Factory/Cultist Simulator
.config/nvim-debug-test
.config/obs-studio
